.dashboard-title-msg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dashboard-header .separator {
    border: 0.1px solid #7e7a7241;
    width: 100%;
}

.dashboard-wrapper {
    display: flex;
    flex-wrap: wrap;

}

.dashboard-item-col {
    max-height: 330px;
    overflow: auto;
}

.dashboard-item-container {
    display: flex;
    flex-direction: column;
}

.dashboard-activity-list {
    margin: 3rem 0;
}

.dashboard-feed-element-body {
    display: flex;
    justify-content: space-between;
}

.dashboard-feed-element-body span {
    font-size: 1.2rem;
}

.dashboard-item-content {
    margin-top: 1rem;
}

.dashboard-msg {
    margin: 0;
    padding: 1rem 0 0 1rem;
}

.connect-message {
    position: relative;
    left: 4rem;
}

#downloadCheck {
    display: none;
}

.custom-checkbox {
    min-height: 1rem;
    padding-left: 0;
    margin-right: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-indicator {
    content: "";
    display: inline-block;
    position: relative;
    width: 30px;
    height: 10px;
    background-color: #818181;
    border-radius: 15px;
    margin-right: 10px;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
    vertical-align: middle;
    margin: 0 16px;
    box-shadow: none;
}

.custom-checkbox .custom-control-indicator:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #f1f1f1;
    border-radius: 21px;
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
    left: -2px;
    top: -4px;
    -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
    transition: left .3s ease, background .3s ease, box-shadow .1s ease;
}

.custom-checkbox .custom-control-input:checked~.custom-control-indicator {
    background-color: #1e2c42;
    background-image: none;
    box-shadow: none !important;
}

.custom-checkbox .custom-control-input:checked~.custom-control-indicator:after {
    background-color: #1e2c42;
    left: 15px;
}

.custom-checkbox .custom-control-input:focus~.custom-control-indicator {
    box-shadow: none !important;
}

.download-div {
    display: flex;
    justify-content: space-between;
}

small {
    font-size: 101%;
}