/* Variables */

.scrutiny-primary-background {
    background: #22264b;
    color: #e7bb6a;
}

.scrutiny-light-background {
    background: #f0f0f0;
    color: #333;
}

.scrutiny-blue {
    background: #13212e;
    color: #f4f4f4;
}

.scrutiny-secondary-background {
    background: #e7bb6a;
    color: #22264b;
}

.scrutiny-light-text {
    color: #f4f4f4;
}

.scrutiny-primary-text {
    color: #22264b;
}

.scrutiny-secondary-text {
    color: #e7bb6a;
}


/* Variables */